<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Output</title>
</head>
<body>
    <table border="1" class="dataframe" id="table">
        <thead>
        <tr style="text-align: right;">
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>
    <a href="{{ url_for('result')}}"><button type="submit" name="submit" value="Submit">Go_back</button></a>
</body>
</html>