<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Data</title>
    <style>
        #formbody{
            max-width:510px;
            margin:auto;
            padding:20px;
            background-color:pink;
        #form{
            display:table-cell;
            text-align:left;
            vertical-align: middle;
        }
        #firstname{
            color:red;
            background-color:yellow;
        }
    </style>
</head>
<body>
    <div id="formbody">
        <form id="form" action="{{ url_for('form_detail')}}" method="post">
            <div>
            <label for='Time in Day'>Time in Day</label>
            <select name="Time in Day" id="Time in Day">
                <option value=0>Early Morning</option>
                <option value=1>Morning</option>
                <option value=2>Afternoon</option>
                <option value=3>Evening</option>
                <option value=4>Night</option>
                <option value=5>Late Night</option>
            </select>
            </div>
            <div>
            <label for='Price'>Price</label>
            <select name="Price" id="Price">
                <option value=0>Low</option>
                <option value=1>Medium</option>
                <option value=2>High</option>
            </select>
            </div>
            <div>
            <label for='Rating'>Rating</label>
            <select name="Rating" id="Rating">
                <option value=0>Bad</option>
                <option value=1>Average</option>
                <option value=2>Good</option>
            </select>
            </div>
            <div>
            <label for='Speed'>Speed</label>
            <select name="Speed" id="Speed">
                <option value=0>Very Slow</option>
                <option value=1>Slow</option>
                <option value=2>Average</option>
                <option value=3>Fast</option>
                <option value=4>Super Fast</option>
                <option value=5>Late Night</option>
            </select>
            </div>

        </form>
        <button type="submit" form="form" name="submit" value="Submit">Submit</button>
    </div>

</body>
</html>